<div class="container"> 
  <div class="row">
    <div class="col-xs-3">
      <h2>User info</h2>
      <%= attachment_image_tag @book.user, :profile_image, fallback: "no-image.png", size: "100x100" %>
      <table class="table table-striped">
        <tbody>
        <tr></tr>
        <tr>
          <th>name</th>
          <th><%= @book.user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @book.user.introduction %></th>
        </tr>
        </tbody>
      </table>
      <%= link_to edit_user_path(current_user), class:"btn btn-default edit" do %>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      <% end %>
      <h2>New book</h2>
      <%= form_for(@book_new) do |f| %>
      <p>Title</p>
      <%= f.text_field :title,class: "form" %>
      <p>Opinion</p>
      <%= f.text_area :body,class: "form" %><br>
      <%= f.submit 'Create Book', :class=>"btn btn-primary create"%>
      <% end %>
    </div>



    <div class="col-xs-9">
      <h2>Book detail</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        <thead>
          <tbody>
              <tr class="roop">
                  <%= link_to user_path(@book.user.id) do %>
                  <td class="roop2"><%= attachment_image_tag @book.user, :profile_image, fallback: "no-image.png", size: "40x40" %><br>
                  <%= link_to @book.user.name, user_path(@book.user.id) %></td>
                  <% end %>
                  <td class="roop2"><%= @book.title %></td>
                  <td class="roop2"><%= @book.body %></td>
                  <% if @book.user.id == current_user.id %>
                  <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success eidt" %></td>
                  <td><%= link_to "Destroy", book_path(@book.id), class:"btn btn-danger destroy", method: :delete %></td>
                  <% end %>
              </tr>
          </tbody>
      </table>
    
  
      <ol>
        <% @book.post_comments.each do |post_comment| %>
          <li class="comment">
            <div class="comment-body bb">
              <div class="comment-avatar">
                <div class="avatar">
                <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no-image.png", size: "40x40" %>
                </div>
              </div>
              <div class="comment-text">
                <div class="comment-author clearfix">
                <%= link_to post_comment.user.name, user_path(@book.user.id) %></td>
            
                </div>
                <div class="comment-entry"><%= post_comment.comment %></div>
                <% if post_comment.user == current_user %>
                  <div>
                  <% if current_user == post_comment.user %>
                    <%= link_to "削除", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-danger" %>
                  <% end %>
                  </div>
                <% end %>
              </div>bo
            </div>
          </li>
        <% end %>e
      </ol>

      <%= form_for [@book, @post_comment] do |f| %>
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        <%= f.submit "送信" %>
      <% end %>

    </div>
  </div>

  <p class="copy-right">CopyRight Infratop.inc</p>
</div>


